:root {
  /* COLOR */

  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);

  /* FONT FAMILY*/

  --font-head: "Poppins", sans-serif;
  --font-body: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*______________________________________________DESKTOP______________________________________________*/

.body-container {
  min-height: 100vh;
  background: url("../images/bg-desktop.svg") no-repeat,
    linear-gradient(to right, hsla(257, 40%, 49%), hsla(257, 40%, 49%));
  background-size: 85%;
  color: #fff;
}
.home-container {
  padding: 3rem 6rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.img_logo {
  width: 15%;
}
.img_mockup {
  width: 100%;
}
.feature-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
  padding-top: 3rem;
}
.feature-container h1 {
  font-family: var(--font-head);
}
.feature-container p {
  font-family: var(--font-body);
}
.f_left-container,
.f_right-container {
  width: 50%;
  min-height: 50vh;
}
.f_left-container {
  width: 55%;
}
.f_text-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.f_text-container h1 {
  font-family: var(--font-head);
  font-size: 38px;
}
.f_text-container p {
  font-size: 18px;
  opacity: 0.7;
}
.f_right-container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.btn {
  text-decoration: none;
  font-family: var(--font-body);
  color: var(--Violet);
  background: #fff;
  transition: 0.3s;
  padding: 15px 55px;
  border-radius: 35px;
  font-size: 16px;
}
.btn:hover {
  color: #fff;
  background: var(--Soft-Magenta);
}

.footer-container {
  display: flex;
  justify-content: flex-end;
}

.social_icon-container {
  display: flex;
  width: 12%;
  justify-content: space-evenly;
}

.fb_icon-container a,
.twitter_icon-container a,
.insta_icon-container a {
  color: var(--White);
}
.fb_icon-container:hover a,
.twitter_icon-container:hover a,
.insta_icon-container:hover a {
  color: var(--Soft-Magenta);
}

.fb_icon-container,
.twitter_icon-container,
.insta_icon-container {
  border: 1px solid white;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  margin-right: 15px;
}
.fb_icon-container:hover,
.twitter_icon-container:hover,
.insta_icon-container:hover {
  border: 1px solid var(--Soft-Magenta);
}

/*______________________________________________MOBILE______________________________________________*/

@media only screen and (max-width: 400px) {
  .body-container {
    background: url("../images/bg-mobile.svg") no-repeat,
      linear-gradient(to right, hsla(257, 40%, 49%), hsla(257, 40%, 49%));
  }
  .home-container {
    padding: 2.5rem 2rem;
  }
  .img_logo {
    width: 35%;
  }
  .feature-container {
    flex-direction: column;
    padding-top: 1.5rem;
  }
  .f_left-container,
  .f_right-container {
    width: 100%;
    min-height: 35vh;
    align-items: center;
    text-align: center;
  }
  .f_text-container h1 {
    font-size: 24px;
  }
  .f_text-container p {
    font-size: 17px;
  }
  .btn {
    padding: 15px 75px;
  }
  .footer-container {
    justify-content: center;
    padding-top: 1.5rem;
  }
  .social_icon-container {
    width: 50%;
    justify-content: center;
  }
}

/*___________________________________________ATTRIBUTION______________________________________________*/
.attribution {
  font-size: 11px;
  text-align: center;
  background-color: var(--Violet);
  color: #fff;
  font-family: var(--font-body);
}
.attribution a {
  color: #fff;
}
